{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}Descarga{% endblock title %}

{% block css %}

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->

    <!-- Vendor CSS-->
    <link href="{%  static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
    <style>

    </style>
{% endblock css %}

{% block content %}
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Descarga de Paciente</h2>
                    <form  method="POST">
                        {% csrf_token %}
                        {% if request.user.id != request.user.paciente.user_ptr_id %}
                            <div class="form-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="usuario"  onchange="this.form.submit()" required>
                                        {% if usuario == None %}
                                            <option value="">
                                                SELECCIONAR PACIENTE
                                            </option>
                                        {% else %}
                                            <option selected="true">
                                                {{usuario}}
                                            </option>
                                        {% endif %}

                                        {% for objeto in pacientes %}
                                            <option>{{objeto.username}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        {% endif %}
                        {% if fecha != None %}
                            <div class="alert-info">{{fecha}}</div>
                            <br>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="input--style-1 js-datepicker" type="text" placeholder="FECHA DE INICIO*" name="first_date"required>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-4">

                                <div class="input-group">
                                    <input class="input--style-1 js-datepicker" type="text" placeholder="FECHA DE FINAL*" name="final_date"required>
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="custom-control custom-radio">
                                    <input onclick="checkbox_text()" id="Calorias" name="casillas[]" type="checkbox" class="custom-control-input" value="Calorias">
                                    <label class="custom-control-label" for="Calorias">Calorias</label>
                                    <p id="text" style="display:none">Checkbox is CHECKED!</p>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Pasos" name="casillas[]" type="checkbox" class="custom-control-input" value="Pasos" >
                                    <label class="custom-control-label" for="Pasos">Pasos</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Ritmo_cardiaco" name="casillas[]" type="checkbox" class="custom-control-input" value="Ritmo_cardiaco">
                                    <label class="custom-control-label" for="Ritmo_cardiaco">Ritmo cardiaco</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Siesta" name="casillas[]" type="checkbox" class="custom-control-input" value="Siesta">
                                    <label class="custom-control-label" for="Siesta">Siesta</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Suenio" name="casillas[]" type="checkbox" class="custom-control-input" value="Suenio" >
                                    <label class="custom-control-label" for="Suenio">Sueño</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input id="Siesta_resumen" name="casillas[]" type="checkbox" class="custom-control-input" value="Siesta_resumen">
                                    <label class="custom-control-label" for="Siesta_resumen">Resumen siesta</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Basal_rate" name="casillas[]" type="checkbox" class="custom-control-input" value="Basal_rate" >
                                    <label class="custom-control-label" for="Basal_rate">Ratio basal</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Bolus_type" name="casillas[]" type="checkbox" class="custom-control-input" value="Bolus_type">
                                    <label class="custom-control-label" for="Bolus_type">Tipo de bolus</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Hito_roche" name="casillas[]" type="checkbox" class="custom-control-input" value="Hito_roche">
                                    <label class="custom-control-label" for="Hito_roche">Hito Roche</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Evento_insulina_lenta" name="casillas[]" type="checkbox" class="custom-control-input" value="Evento_insulina_lenta">
                                    <label class="custom-control-label" for="Evento_insulina_lenta">Evento insulina lenta</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Evento_insulina_rapida" name="casillas[]" type="checkbox" class="custom-control-input" value="Evento_insulina_rapida">
                                    <label class="custom-control-label" for="Evento_insulina_rapida">Evento insulina rapida</label>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-offset-4">
                                <div class="custom-control custom-radio">
                                    <input id="Bolus_volume_delivered" name="casillas[]" type="checkbox" class="custom-control-input" value="Bolus_volume_delivered">
                                    <label class="custom-control-label" for="Bolus_volume_delivered">Volumen de bolus</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Carb_ratio" name="casillas[]" type="checkbox" class="custom-control-input" value="Carb_ratio" >
                                    <label class="custom-control-label" for="Carb_ratio">Ratio de hidratos de carbono</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Carb_input" name="casillas[]" type="checkbox" class="custom-control-input" value="Carb_input">
                                    <label class="custom-control-label" for="Carb_input">Input de hidratos de carbono</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Glucosa_medtronic" name="casillas[]" type="checkbox" class="custom-control-input" value="Glucosa_medtronic" >
                                    <label class="custom-control-label" for="Glucosa_medtronic">Glucosa de Medtronic</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Glucosa_freestyle" name="casillas[]" type="checkbox" class="custom-control-input" value="Glucosa_freestyle" >
                                    <label class="custom-control-label" for="Glucosa_freestyle">Glucosa de Freestyle</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Glucosa_sangre" name="casillas[]" type="checkbox" class="custom-control-input" value="Glucosa_sangre">
                                    <label class="custom-control-label" for="Glucosa_sangre">Glucosa en sangre</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Insulina_rapida" name="casillas[]" type="checkbox" class="custom-control-input" value="Insulina_rapida">
                                    <label class="custom-control-label" for="Insulina_rapida">Insulina de acción rápida</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Insulina_lenta" name="casillas[]" type="checkbox" class="custom-control-input" value="Insulina_lenta" >
                                    <label class="custom-control-label" for="Insulina_lenta">Insulina de acción lenta</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Cetonas" name="casillas[]" type="checkbox" class="custom-control-input" value="Cetonas">
                                    <label class="custom-control-label" for="Cetonas">Cetonas</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Peso" name="casillas[]" type="checkbox" class="custom-control-input" value="Peso">
                                    <label class="custom-control-label" for="Peso">Peso</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="Evento_carbohidratos" name="casillas[]" type="checkbox" class="custom-control-input" value="Evento_carbohidratos">
                                    <label class="custom-control-label" for="Evento_carbohidratos">Evento de carbohidratos</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="p-t-20">
                                    <button name ="descarga" class="btn btn--radius btn--green" type="submit">Descargar</button>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <div class="p-t-20">
                                    <button name ="ver" class="btn btn--radius btn--green" type="submit">Ver Tabla</button>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <div class="p-t-20">
                                    <button name ="grafico" class="btn btn--radius btn--green" type="submit">Ver Grafico</button>
                                </div>
                            </div>
                        </div>
                        {% if msg != None %}
                            <br>
                            <div class="alert alert-success"><font color="red">{{msg}}</font></div>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendor/datepicker/checkbox.js' %}"></script>


    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>

{% endblock js %}

<!--
<div>
                        <input type="checkbox" name="casillas[]" value="Calorias" >Calorias </input>
                        <input type="checkbox" name="casillas[]" value="Pasos" >Pasos</input>
                        <input type="checkbox" name="casillas[]" value="Ritmo_cardiaco" >Ritmo cardiaco</input>
                        <input type="checkbox" name="casillas[]" value="Siesta" >Siesta</input>
                        <input type="checkbox" name="casillas[]" value="Suenio" >Sueño</input>
                        <input type="checkbox" name="casillas[]" value="Siesta_resumen" >Resumen siesta</input>
                        <input type="checkbox" name="casillas[]" value="Bg_reading" >Lectura de BG</input>
                        <input type="checkbox" name="casillas[]" value="Basal_rate" >Ratio basal</input>
                        <input type="checkbox" name="casillas[]" value="Bolus_type" >Tipo de bolus</input>
                        <input type="checkbox" name="casillas[]" value="Bolus_volume" >Volumen de bolus</input>
                        <input type="checkbox" name="casillas[]" value="Bwz_carb_ratio" >Ratio de hidratos de carbono</input>
                        <input type="checkbox" name="casillas[]" value="Bwz_carb_input" >Input de hidratos de carbono</input>
                        <input type="checkbox" name="casillas[]" value="Sensor_calibration" >Calibracion de glucosa</input>
                        <input type="checkbox" name="casillas[]" value="Sensor_glucose" >Glucosa</input>
                        <input type="checkbox" name="casillas[]" value="Glucosa_sangre" >Glucosa en sangre</input>
                        <input type="checkbox" name="casillas[]" value="Insulina_rapida" >Insulina de acción rápida</input>
                        <input type="checkbox" name="casillas[]" value="Insulina_lenta" >Insulina de acción lenta</input>
                        <input type="checkbox" name="casillas[]" value="Cetonas" >Cetonas</input>

                    </div>
\-->