{% extends "base.html" %}
{% load staticfiles i18n %}
{% block title %}Home{% endblock title %}
{% block content %}

    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Avatar Image -->
            {% if request.user.id == request.user.investigador.user_ptr_id %}
                <img class="masthead-avatar mb-5" src="{% static 'img/einstein.png' %}" alt="">
            {% endif %}
            {% if request.user.id == request.user.paciente.user_ptr_id %}
                <img class="masthead-avatar mb-5" src="{% static 'img/avataaars.svg' %}" alt="">
            {% endif %}
            {% if request.user.id == request.user.medico.user_ptr_id %}
                <img class="masthead-avatar mb-5" src="{% static 'img/medicheck.png' %}" alt="">
            {% endif %}

            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">Hola {{request.user.username}}</h1>

            {% if request.user.id == request.user.paciente.user_ptr_id %}
                <br>
                <form action='new_password' method='GET'>
                    <button class="btn btn-xl btn-outline-light" type='submit'> Cambiar Contraseña</button>
                </form>
            {% endif %}



            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0">GLUCMODEL</p>
            <p class="masthead-subheading font-weight-light mb-0">Para Medicos - Para Pacientes - Para Investigadores</p>


        </div>
    </header>

{% endblock content %}
