{% extends "base.html" %}
{% load staticfiles i18n %}


{% block title %}Log-in{% endblock title %}

{% block css %}

    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->

    <!-- Vendor CSS-->
    <link href="{%  static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">

{% endblock css %}

{% block content %}


    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <div class="form-group">

                        <h2 class="title">Login</h2>
                        <form  method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="NAME" name="username">
                            </div>
                            <div class="input-group">
                                <input class="input--style-1" type="password" placeholder="PASSWORD" name="password">
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                        <button class="btn btn--radius btn--green" type="submit">Entrar</button>
                                </div>
                                <div class="col-md-6 col-md-offset">
                                    <div>
                                        <button class="btn btn--radius btn--green" type="button" onclick="olvidado()">He olvidado la contraseña</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if msg != None %}
                        <div class="alert alert-success"><font color="red">{{msg}}</font></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block js %}

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>
    <script>
    function olvidado() {
        alert("Si has olvidado la contraseña, envíanos un correo a la dirección: glucmodel@ucm.es");
    }
    </script>
{% endblock js %}

