{% extends "base.html" %}
{% load staticfiles i18n %}
{% block css %}
<link href="{% static "gestionPacientes/static/css/freelancer.css" %}" rel="stylesheet" type="text/css">
{% endblock css %}
{% block title %}Ver Datos{% endblock title %}
{% block content %}
<table border="1" class="dataframe table table-striped table-hover">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id_user_id</th>
      <th>sleep state</th>
    </tr>
    <tr>
      <th>time</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2018-06-17T05:45:00</th>
      <td>3</td>
      <td>wake</td>
    </tr>
    <tr>
      <th>2018-06-17T05:50:00</th>
      <td>3</td>
      <td>wake</td>
    </tr>
    <tr>
      <th>2018-06-17T05:55:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:00:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:05:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:10:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:15:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:20:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:25:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:30:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:35:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:40:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:45:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:50:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T06:55:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T07:00:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T07:05:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T07:10:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T07:15:00</th>
      <td>3</td>
      <td>rem</td>
    </tr>
    <tr>
      <th>2018-06-17T07:20:00</th>
      <td>3</td>
      <td>rem</td>
    </tr>
    <tr>
      <th>2018-06-17T07:25:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T07:30:00</th>
      <td>3</td>
      <td>rem</td>
    </tr>
    <tr>
      <th>2018-06-17T07:35:00</th>
      <td>3</td>
      <td>rem</td>
    </tr>
    <tr>
      <th>2018-06-17T07:40:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T07:45:00</th>
      <td>3</td>
      <td>rem</td>
    </tr>
    <tr>
      <th>2018-06-17T07:50:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T07:55:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T08:00:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T08:05:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T08:10:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T08:15:00</th>
      <td>3</td>
      <td>deep</td>
    </tr>
    <tr>
      <th>2018-06-17T08:20:00</th>
      <td>3</td>
      <td>deep</td>
    </tr>
    <tr>
      <th>2018-06-17T08:25:00</th>
      <td>3</td>
      <td>deep</td>
    </tr>
    <tr>
      <th>2018-06-17T08:30:00</th>
      <td>3</td>
      <td>deep</td>
    </tr>
    <tr>
      <th>2018-06-17T08:35:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T08:40:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T08:45:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T08:50:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T08:55:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:00:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:05:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:10:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:15:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:20:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:25:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:30:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:35:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:40:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:45:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:50:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T09:55:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T10:00:00</th>
      <td>3</td>
      <td>rem</td>
    </tr>
    <tr>
      <th>2018-06-17T10:05:00</th>
      <td>3</td>
      <td>rem</td>
    </tr>
    <tr>
      <th>2018-06-17T10:10:00</th>
      <td>3</td>
      <td>rem</td>
    </tr>
    <tr>
      <th>2018-06-17T10:15:00</th>
      <td>3</td>
      <td>rem</td>
    </tr>
    <tr>
      <th>2018-06-17T10:20:00</th>
      <td>3</td>
      <td>rem</td>
    </tr>
    <tr>
      <th>2018-06-17T10:25:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T10:30:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
    <tr>
      <th>2018-06-17T10:35:00</th>
      <td>3</td>
      <td>light</td>
    </tr>
  </tbody>
</table>
{% endblock content %}